@media only screen and(max-width:800px){
    .xxx{
        margin-left: 10%;
    

    }
    .mmm{
        margin-left: 10%;
    }
    .brickhouse{
        margin-right: 28%;
    }
    .sessions{
        margin-right: 5%;
    }
    .camon{
        margin-left: 4%;
    }
    .camon2{
        margin-left: 4%;
    }
    .kolo{
        margin-left: 5%;
    }
   #catalog{
    margin-left: 5%;
   }
   #search{
    margin-left: 5%;
   }
   .nav ul li{
    margin-left: 5%;
   }
   .near{
margin-right: 25%;
   }
   .end{
margin-right: 25%;
   }

}